on:
  push:
    tags: ["v*"]
    paths:
      - "app/**"
      - ".github/workflows/build-desktop.yml"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Enable Windows Desktop
        run: flutter config --enable-windows-desktop

      - name: Get Dependencies
        working-directory: ./app
        run: flutter pub get

      - name: Build Windows
        working-directory: ./app
        run: flutter build windows --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: romifleur-windows
          path: app/build/windows/x64/runner/Release/

      - name: Zip Windows App
        if: startsWith(github.ref, 'refs/tags/v')
        run: Compress-Archive -Path app/build/windows/x64/runner/Release/* -DestinationPath romifleur-windows.zip

      - name: Release Windows
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          files: romifleur-windows.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Enable Linux Desktop
        run: flutter config --enable-linux-desktop

      - name: Get Dependencies
        working-directory: ./app
        run: flutter pub get

      - name: Build Linux
        working-directory: ./app
        run: flutter build linux --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: romifleur-linux
          path: app/build/linux/x64/release/bundle/

      - name: Check/Create Tarball
        if: startsWith(github.ref, 'refs/tags/v')
        working-directory: ./app/build/linux/x64/release/bundle
        run: tar -czvf romifleur-linux.tar.gz *

      - name: Release Linux
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          files: app/build/linux/x64/release/bundle/romifleur-linux.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Enable MacOS Desktop
        run: flutter config --enable-macos-desktop

      - name: Get Dependencies
        working-directory: ./app
        run: flutter pub get

      - name: Build MacOS
        working-directory: ./app
        run: flutter build macos --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: romifleur-macos
          path: app/build/macos/Build/Products/Release/romifleur.app

      - name: Zip MacOS App
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          cd app/build/macos/Build/Products/Release
          zip -r romifleur-macos.zip romifleur.app

      - name: Release MacOS
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          files: app/build/macos/Build/Products/Release/romifleur-macos.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
